In [1]:
# Build a dogecoin prophet calculator

In [1]:
# import some libraries
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\Yash Kumar\Documents\Dogecoin_Price_Prediction\DOGE-USD.csv')

In [10]:
data = data.set_index(pd.DatetimeIndex(data['Date'].values))
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
2014-09-17,2014-09-17,0.000293,0.000299,0.000260,0.000268,0.000268,1463600.0
2014-09-18,2014-09-18,0.000268,0.000325,0.000267,0.000298,0.000298,2215910.0
2014-09-19,2014-09-19,0.000298,0.000307,0.000275,0.000277,0.000277,883563.0
2014-09-20,2014-09-20,0.000276,0.000310,0.000267,0.000292,0.000292,993004.0
2014-09-21,2014-09-21,0.000293,0.000299,0.000284,0.000288,0.000288,539140.0

In [11]:
# Ask the user the amount that they invested and the date that they invested
amount_invested = input('Enter amount invested in dollars:')
print(amount_invested)
invested_date = input('Enter the date that you invested :')
print(invested_date)

Enter amount invested in dollars:5
5
Enter the date that you invested :2014-09-17
2014-09-17

In [12]:
# Get the low and high price for the day that the user invested to get a price range
# create the variables to store the low and high price column name
col1 = 'Low'
col2 = 'High'
# Get the low and high prices of the asset for the specific day that the user invested
price1 = data[col1][invested_date]
price2 = data[col2][invested_date]
# compute the quantity of the asset that the user would have
quantity1 = int(amount_invested)/price1
quantity2 = int(amount_invested)/price2
# compute the profit range
profit1 = (quantity1 *data[col1][-1]) - int(amount_invested)
profit2 = (quantity2 *data[col2][-1]) - int(amount_invested)
# print the range the amount that the user would have made or loss
print('You would have between $', round(profit1, 2), 'and $', round(profit2, 2), 'as of', data['Date'][-1])

You would have between $ 9731.0 and $ 9079.4 as of 2021-05-16

In [13]:
# Return on investment (ROI) range
ROI1 = profit1/int(amount_invested)*100
ROI2 = profit2/int(amount_invested)*100
# Print the ROI Range
print('Your return on investment(ROI) would be between', round(ROI1,2), '% and', round(ROI2, 2), '% as of', data['Date'][-1])

Your return on investment(ROI) would be between 194620.0 % and 181587.96 % as of 2021-05-16